@{
    ViewBag.Title = "Team - Create";
    var gameList = ViewBag.gameList as Dictionary<int, string>;
}

<br />
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-offset-2">
            <h2>Team <small>Create</small></h2>
        </div>
    </div>
    <div class="form-group">
        <label for="teamName" class="col-sm-2 control-label">Name</label>
        <div class="col-md-10 col-sm-10 col-lg-10">
            <input type="text" id="teamName" placeholder="Name (@BracketsTeam.Logic.Utilities.LengthDefinition.Team.Name)"
                   class="form-control" maxlength="@BracketsTeam.Logic.Utilities.LengthDefinition.Team.Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="teamShortName" class="control-label col-sm-2">Short Name</label>
        <div class="col-sm-2">
            <input type="text" id="teamShortName" placeholder="Short Name (@BracketsTeam.Logic.Utilities.LengthDefinition.Team.NameShort)"
                   class="form-control" maxlength="@BracketsTeam.Logic.Utilities.LengthDefinition.Team.NameShort" />
        </div>
    </div>
    <div class="form-group">
        <label for="gameList" class="control-label col-sm-2">Game</label>
        <div class="col-sm-3">
            <select class="form-control" id="gameList">
                @foreach (var item in gameList)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="teamIsActive" checked="checked" value="fuck off" /> Is Active?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
            <button id="btnNewTeam" class="btn btn-primary">
                <i id="iLoading" class="fa fa-refresh"></i> Create
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnNewTeam").click(function () {
            $("#iLoading").addClass("fa-spin");
            $(this).prop("disabled", true);

            var tName = document.getElementById("teamName").value;
            var tShortName = document.getElementById("teamShortName").value;
            var tIsActive = document.getElementById("teamIsActive").checked;
            var tIdGame = document.getElementById("gameList").value;
            var classUsed = "warning";
            var volver = false;
            var errorMessage = "";

            if (tName.length <= 0) { errorMessage += "@HttpUtility.JavaScriptStringEncode(BracketsTeam.Logic.Utilities.Messages.Team.AddTeam_Error_EmptyName)"; volver = true; }
            if (tShortName <= 0) { errorMessage += "@HttpUtility.JavaScriptStringEncode(BracketsTeam.Logic.Utilities.Messages.Team.AddTeam_Error_EmptyShortName)"; volver = true; }
            if (tIdGame === "") { errorMessage += "@HttpUtility.JavaScriptStringEncode(BracketsTeam.Logic.Utilities.Messages.Team.AddTeam_Error_EmptyGame)"; volver = true; }

            if (volver) {
                ShowAlertMessage("Equipo: ", errorMessage, -1, true, "danger");
                $("#iLoading").removeClass("fa-spin");
                $("#btnNewTeam").prop("disabled", false);
                return;
            }

            $.ajax({
                method: "POST",
                url: "./Create",
                dataType: "json",
                data: {
                    name: tName,
                    shortName: tShortName,
                    idGame: tIdGame,
                    isActive: tIsActive
                }

            }).done(function (response) {
                document.getElementById("teamName").value = "";
                document.getElementById("teamShortName").value = "";
                var tIsActive = document.getElementById("teamIsActive").checked = true;
                classUsed = "success";
            }).fail(function (response) {
                classUsed = "danger";
            }).always(function (response) {
                $("#iLoading").removeClass("fa-spin");
                $("#btnNewTeam").prop("disabled", false);
                ShowAlertMessage("Equipo:", response.msg, 5, true, classUsed);
            });
        });
    });
</script>